<!DOCTYPE html>
<html>
    <head>
        <title>NodeJs</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p>NodeJs</p>
    </body>
    <script src="js/library/jquery_3.4.1.min.js"></script>
    <script src="js/Index.js"></script>
</html>