<!DOCTYPE html>
<html>
    <head>
        <title>NodeJs</title>
        
        <!-- Meta -->
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=1">
        <meta name="description" content="..."/>
        <meta name="keywords" content="..."/>
        <meta name="robots" content="index, follow"/>
        <meta name="csrf-token" content="#{csrfToken}">

        <!-- Favicon -->
        <link href="images/favicon.ico" rel="icon" type="image/x-icon">
    </head>
    <body>
        <p>NodeJs</p>
        <ul>
            <li><a href="/recognition_image">Recognition image</a></li>
            <li><a href="/recognition_sound">Recognition sound</a></li>
            <li><a href="/recognition_pose">Recognition pose</a></li>
        </ul>
        
        <script src="js/library/jquery_3.4.1.min.js"></script>
    </body>
</html>