<div id="video_container">
    <select class="source">
        <option value="0">Select</option>
    </select>
    <button style="margin: 5px;" class="reset" type="button">Reset</button>
    <div class="camera">
        <canvas style="display: none;-moz-transform: scale(-1, 1);-webkit-transform: scale(-1, 1);-o-transform: scale(-1, 1);transform: scale(-1, 1);filter: FlipH;"></canvas>
        <video style="-moz-transform: scale(-1, 1);-webkit-transform: scale(-1, 1);-o-transform: scale(-1, 1);transform: scale(-1, 1);filter: FlipH;" autoplay playsinline></video>
    </div>
</div>