<div id="camera_container">
    <select class="video_source">
        <option value="0">Select</option>
    </select>
    <select class="audio_source">
        <option value="0">Select</option>
    </select>
    <button style="margin: 5px;" class="reset" type="button">Reset</button>
    <div class="source_container">
        <canvas style="display: none;-moz-transform: scale(-1, 1);-webkit-transform: scale(-1, 1);-o-transform: scale(-1, 1);transform: scale(-1, 1);filter: FlipH;"></canvas>
        <video style="-moz-transform: scale(-1, 1);-webkit-transform: scale(-1, 1);-o-transform: scale(-1, 1);transform: scale(-1, 1);filter: FlipH;"></video>
        <audio></audio>
    </div>
</div>